
body {
	margin: 0rem 10% 1rem;
	font-family: 'open sans', sans-serif;
	background-color: #eee;
	color: #333;
}

a {
	color: #111;
	font-weight: bold;
}

a:visited {
	color: #888;
}

.navigation {
	padding: 0.5rem;
}

.footer, .navigation {
	font-size: 1.2rem;
	text-align: center;
}

@media (min-width: 640px) {
	.footer, .navigation {
		font-size: 0.8rem;
	}
}

.title {
	font-size: 3.5rem;
	text-align: center;
	padding: 0 10% 2rem;

	border-bottom: 2px #222 solid;

}

.content {
	padding-bottom: 1rem;
	margin-bottom: 2rem;
	border-bottom: 2px #222 solid;
}

.quote-text {
	font-size: 3rem;
	font-family: serif;
	font-style: italic;
}

.quote-text:last {
	margin-bottom: 0.5rem;
}

.quote-attributation {
	text-align: right;
	font-size: 2rem;
}

.coderwall {
	list-style-image: none;
	padding-left: 0;
	padding-bottom: 1rem;

	margin: 0 2% 2rem;

	border-bottom: 1px #222 solid;
}

.coderwall-coder {
	display: inline-block;
	margin-right: 0.5rem;
}

.coderwall-coder-avatar {
	width: 80px;
	height: 80px;
}

.coder-info-display {
	margin-left: 5%;
	margin-right: 5%;
}

.coder-info-display-userid {
	font-size: 1.5rem;
}

.coder-info-display-github-comment {
	padding-left: 0.5rem;
	font-style: italic;
	font-family: serif;
}

.project-listing-list {
	width: 96%;
	margin: 0 2% 2rem;
	vertical-align: top;
}

.project-listing-list-name {
	width: 100%;
	font-size: 1.2rem;
	text-align: left;
}

.project-listing-project {
	margin-bottom: 1rem;
}

.project-listing-list-details {
	display: table;
	width: 100%;
}

.project-listing-list-description, .project-listing-list-last-activity, .project-listing-list-summary {
	vertical-align: top;
	display: table-cell;
	padding-right: 1rem;
}

.project-listing-list-description {
	width: 50%;
	padding-right: 4rem;
}

.project-listing-list-summary  {
	width: 30%;
}

.project-listing-list-last-activity {
	width: 20%;
}